.EHeader{
    padding: 0.7rem 1.2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    /* position: fixed;
    width: 100%; */
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 100;
}

.EHeader-footer{
    height: 60px
}

.EHeader button {
    margin-right: 1rem;
    border: none;
    background-color: #fff;
    color: #3BB8C3;
    font-size: 1.4rem;
}

.EHeader button:focus {
    outline: 0 !important;
}

.EHeader span {
    font-weight: 600;
    font-size: 1.3rem;
}