.epackage-share-update-container{
    background-color: #E5E5E5;
    min-height: calc(100vh - 110px);
}
.epackage-share-update{
    margin: 0rem 1.5rem;
    padding-top: 1rem;
}

.epackage-container {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    min-height: calc(100vh - 220px - 1rem);
}

.epackage-share-update .title{
    font-size: 1.3rem;
    font-weight: 600;
}

.epackage-share-update-container .epackage-share-update-btn{
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.epackage-share-update-btn button{
    margin-left: 10px;
}


.epackage-share-update-btn .btn-back:hover{
    background-color: #f2ffff !important;
}